<%= link_to fa_icon("plus") + " New Project", new_project_path, class: "btn btn-primary" %>

<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>
