<% admins_only do %>
  <ul class="actions">
    <li><%= link_to "New Project", new_admin_project_path,
      class: "new" %></li>
  </ul>
<% end %>

<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>
